body {
  background-color: #E6E6E6;
  font-family: Georgia, Times, "Times New Roman", serif;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: #001D6E;
  font-family: Georgia, Times, "Times New Roman", serif;
}

h2 {
  color: #7FB5FF;
  font-family: Georgia, Times, "Times New Roman", serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 30px 0;
  text-align: center;
}

blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 25px 0;
  text-align: center;
}

a {
  color: #001D6E;
}

a:hover {
  color: #C4DDFF;
}

.top-container {
  background-color: #C4DDFF;
  border: none;
  border-width: 20px;
  margin: 0 20px;
  padding: 10px 50px 10px 50px;
  text-align: center;
}

.middle-container {
  line-height: 2;
}

.bottom-container {
  padding: 25px 0;
}
